@page
@model CM360.Pages.Contact.IndexModel

@{
    ViewData["Title"] = "Index";
}

<h1>Expense Tracker</h1>

<p>
    <a asp-page="Create" class="btn btn-outline-primary">Create New</a>
</p>
<table class="table">
    <thead>
        <tr>
            <th>
                @Html.DisplayNameFor(model => model.Contact[0].Name)
            </th>
            <th>
                @Html.DisplayNameFor(model => model.Contact[0].EmployeeNumber)
            </th>
            <th>
                @Html.DisplayNameFor(model => model.Contact[0].ExpenseType)
            </th>
            <th>
                @Html.DisplayNameFor(model => model.Contact[0].Amount)
            </th>
            <th>
                @Html.DisplayNameFor(model => model.Contact[0].Email)
            </th>
            <th>
                @Html.DisplayNameFor(model => model.Contact[0].Status)
            </th>
            <th></th>
        </tr>
    </thead>
    <tbody>
@foreach (var item in Model.Contact) {
        <tr>
            <td>
                @Html.DisplayFor(modelItem => item.Name)
            </td>
            <td>
                @Html.DisplayFor(modelItem => item.EmployeeNumber)
            </td>
            <td>
                @Html.DisplayFor(modelItem => item.ExpenseType)
            </td>
            <td>
               @Html.DisplayFor(modelItem => item.Amount)
            </td>
            <td>
                @Html.DisplayFor(modelItem => item.Email)
            </td>
            <td>
                @Html.DisplayFor(modelItem => item.Status)
            </td>
            <td>
                    @using CM360.Authorization;
                    @using Microsoft.AspNetCore.Authorization;
                    @inject IAuthorizationService AuthorizationService
                    @if ((await AuthorizationService.AuthorizeAsync(User, item,ContactOperations.Update)).Succeeded)
                    {
                        <a asp-page="./Edit" class="btn btn-outline-primary" asp-route-id="@item.ContactId">Edit</a>
                        <text> | </text>
                    }

                    <a asp-page="./Details" class="btn btn-outline-primary" asp-route-id="@item.ContactId">Details</a>

                    @if ((await AuthorizationService.AuthorizeAsync(User, item,ContactOperations.Delete)).Succeeded)
                    {
                        <text> | </text>
                        <a asp-page="./Delete" class="btn btn-outline-danger" asp-route-id="@item.ContactId">Delete</a>
                    }
                </td>
        </tr>
}
    </tbody>
</table>
